{% extends "label/label_base.html" %}

{% load barcode %}

{% block style %}

.qr {
    position: fixed;
    left: 0mm;
    top: 0mm;
    height: {{ height }}mm;
    width: {{ height }}mm;
}

.loc {
    font-family: Tahoma, Verdana, sans-serif;
    display: inline;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    left: {{ height }}mm;
    top: 2mm;
    white-space: nowrap;
    letter-spacing: 1px;
}

{% endblock %}

{% block content %}

<img class='qr' src='{% qrcode qr_data %}'>

<div class='loc'>
    {{ location.name }}
</div>

{% endblock %}
